body {
    background-color: rgb(160, 160, 160);
    font-family: monospace;
}
header {
    /*box-shadow:0px 0px 0px 2px black inset;*/
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    display: flex;
    flex-direction: row;
}
.blogname {
    text-align: left;
    flex: 20%;
}
figure {
    display: inline-block;
    border: 0.125rem solid black;
    width: 6rem;
    margin: 0.6rem;
    padding: 0.6rem;
    font-size: 0.7rem;
    text-align: center;
}
nav {
    display: inline;
    text-align: center;
    flex: 80%;
}
header a {
    font-size: 0.7rem;
    text-decoration: none;
    text-align: center;
    color:rgb(160, 160, 160);
    border: 0.125rem solid black;
    background-color: black;
    display: inline-block;
    width: 6rem;
    /*clear: left;*/
    margin: 0.6rem;
    padding: 0.6rem;
}
header a:hover {
    color: black;
    border: 0.125rem solid black;
    background-color: rgb(160, 160, 160);
}
footer {
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    position: fixed;
    position: flex;
    bottom: 0;
    font-size: 0.7rem;
}
footer a {
    text-decoration: none;
    color:rgb(66, 66, 66);
    padding: 0.6rem;
}
footer a:hover{
    color: white;
}
h1 {
    text-align: center;
    padding: 1.8rem;
}
.textbox {
    font-family: Times;
    border: 0.125rem solid rgb(66, 66, 66);
    display: block;
    padding: 0.6rem 1.8rem 1.8rem 1.8rem;
    margin: 0.6rem auto 2rem auto;
}
.textbox h2 {
    font-family: monospace;
    text-align: center;
    padding: 0.6rem;
}
.published {
    font-family: monospace;
    font-size: 0.8rem;
}
@media screen and (min-width: 980px) /* Desktop */ {
    .textbox {
        width: 25%;
    }
}
@media screen and (max-width: 979px) /* Tablet */ {
    /*figure {
        width: 8rem;
        font-size: 1rem;
    }*/
    nav {
        text-align: right;
    }
    /*header a {
        width: 8rem;
        font-size: 1rem;
    }*/
    .textbox {
        width: 50%;
    }
}
@media screen and (max-width: 500px) /* Mobile */ {
    header {
        flex-direction: column;
    }
    .blogname {
        text-align: center;
    }
    figure {
        width: 10rem;
        font-size: 1rem;
    }
    nav {
        text-align: center;
    }
    /*header a {
        font-size: 0.7rem;
        width: 6rem;
    }*/
    .textbox {
        width: 75%;
    }
}