body {
    background-color: rgb(160, 160, 160);
    font-family: monospace;
}
header {
    display: flex;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    flex-direction: column;
}
.blogname {
    text-align: left;
    flex: 20%;
}
figure {
    display: inline-block;
    border: 0.125rem solid black;
    width: 7rem;
    margin: 0.6rem;
    padding: 0.6rem;
    font-size: 0.8rem;
    text-align: center;
}
nav {
    display: inline;
    text-align: center;
    flex: 80%;
}
header a {
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    color:rgb(160, 160, 160);
    border: 0.125rem solid black;
    background-color: black;
    display: inline-block;
    width: 7rem;
    margin: 0.6rem;
    padding: 0.6rem;
}
header a:hover {
    color: black;
    border: 0.125rem solid black;
    background-color: rgb(160, 160, 160);
}
footer {
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    bottom: 0;
    font-size: 0.7rem;
}
footer a {
    text-decoration: none;
    color:rgb(66, 66, 66);
    padding: 0.6rem;
}
footer a:hover{
    color: white;
}
h1 {
    text-align: center;
    padding: 1.8rem;
}
.textbox {
    font-family: Times;
    border: 0.125rem solid rgb(66, 66, 66);
    display: block;
    padding: 0.6rem 1.8rem 1.8rem 1.8rem;
    margin: 0.6rem auto 2rem auto;
}
.textbox h2 {
    font-family: monospace;
    text-align: center;
    padding: 0.6rem;
}
.published {
    font-family: monospace;
    font-size: 0.8rem;
}
@media screen and (min-width: 770px) /* Desktop */ {
    nav {
        position: relative;
        bottom: 3.552rem;
    }
    .textbox {
        width: 25%;
    }
    footer {
        position: fixed;
    }
}
@media screen and (max-width: 769px) /* Tablet */ {
    /*figure {
        width: 7rem;
        font-size: 1rem;
    }*/
    nav {
        text-align: right;
        position: relative;
        bottom: 3.552rem;
        max-width: 80%;
    }
    .textbox {
        width: 50%;
    }
    footer {
        position: fixed;
    }
}
@media screen and (max-width: 361px) /* Mobile */ {
    header {
        flex-direction: column;
    }
    .blogname {
        text-align: center;
    }
    figure {
        width: 10rem;
        font-size: 1rem;
    }
    nav {
        text-align: center;
        top: 0;
    }
    header a {
        font-size: 0.7rem;
        width: 3.5rem;
        margin: 0.2rem;
        padding: 0.5rem;
    }
    .textbox {
        width: 75%;
    }
    footer {
        display: none;
    }
}